/**
 *      Gestion de la responsivité
 * 
 */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        max-width: 50px;
        position: absolute;
        top: 10px;
        right: 50px;
        z-index: 1000;
    }

    .navbar .menu {
        display: block;
        z-index: 1000;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(89, 89, 89, 0.356);
        backdrop-filter: blur(50px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.6s ease;
        z-index: 100;
        border-bottom: #877951 1px solid;
    }

    .mobile-menu {
        margin-left: 0;
    }

    /* Bloque le scroll */
    html.no-scroll,
    body.no-scroll {
        overflow: hidden;
        height: 100%;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: -200px;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        width: 450px;
        font-size: 12px;
        border: #877951aa 1px solid;
        border-bottom: 2px Solid rgba(230, 155, 15, 0.421);
    }

    .navbar .nav-links ul li:hover {
        border-bottom: 2px Solid rgba(241, 241, 240, 0.842);
    }

    .nav-links li a {
        padding: 25px;
        color: rgb(249, 247, 245);
        font-size: 1.4em;
        font-weight: bold;
    }

    .navbar p {
        color: #f3f2ef80;
        position: fixed;
        bottom: 1px;
        left: 12px;
        font-size: 12px;
        display: block;
        z-index: 1000;
    }

    /*Home*/
    .intro h1 {
        text-align: center;
        font-size: 1.3rem;
        padding: 5px;
        margin: 10px;
        margin-top: -380px;
    }

    .intro h1::first-letter {
        font-size: 2.5rem;
    }

    .intro p {
        margin-right: 2.6em;
    }


    .bloc-btn {
        position: absolute;
        top: 20em;
        left: 28%;
         display: block;
    }

    .btn {
        padding: 12px 15px;
        margin-top: 15px;
        margin-left: 2em;
    }

    #home img {
        position: absolute;
        bottom: 15px;
        right: 16em;
        width: 50%;
        border-radius: 66% 34% 74% 26% / 62% 25% 75% 38% ;/*34% 66% 7% 90% / 22% 60% 40% 78%;*/
        border: 1px #d8b35558 Solid;
        padding: 5px;
    }

    #about,
    #projets,
    #competence,
    #contact {
        height: auto;
        margin-top: 1.5em;
    }

    .about-bloc {
        margin-top: 0em;
    }

    /* Projet */
    .projet-item {
        margin-top: 0.1em;
    }

    /* Contact */
    #contact {
        height: 80vh;
    }

    form {
        padding-top: 10px;
        padding-bottom: 20px;
        padding: 20px;
    }

    #contact input {
        height: 25px;
        margin-bottom: 5px;
    }

    #contact input,
    #contact textarea {
        padding: 10px;
        width: 35vh;
    }

    #contact textarea {
        width: 35vh;
        margin-top: 20px;
    }

    form .identite {
        text-align: start
    }

    #contact button {
        width: 10em;
        margin: 10px;
        font-size: 12px;
        margin-top: 40px;
    }


    /* Footer */
    footer>#container {
        padding: 15px;
    }

    .bloc1 {
        padding: 5px;
        margin: 2px;
        font-size: 15px;
        margin-bottom: 2.5em;
    }

    .copy {
        font-size: 12px;
    }

}

/* Small <= 768px */
@media screen and (max-width: 768px) {
    .navbar .nav-links ul li {
        width: 300px;
        font-size: 11px;
    }

    .intro h1{
         margin-top: -20em;
    }
    .bloc-btn {
        top: 35%;
        left: 20.5%;
    }

    #home img {
        left: 6em;
        bottom: 5em;
        width: 65%;
    }

    #about {
        margin: 1.5em;
    }

    .projet-list {
        justify-content: space-between;
    }

    .projet-item p {
        margin-top: 0.5em;
    }

    .projet-item {
        width: 480px;
        margin: 5px;
        margin-top: 0.5em;
        border-radius: 20px;
        padding: 10px;
    }

    .projet-item img {
        width: 90%;
        border-radius: 2px;
        margin-top: 0.1em;
    }

    .projet-item,
    .competence-item {
        margin-top: 2.5em;
        padding: 15px;
        margin: 5px;
    }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {}